<!DOCTYPE html>
<html>
<head>
    <title>Edit Entry</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Edit Entry</h1>
    <form method="post" class="edit-form">
        <label>Word:</label><br>
        <input type="text" name="wordFirstLang" value="{{ entry[0] }}"><br><br>
        <label>Translation:</label><br>
        <input type="text" name="wordSecondLang" value="{{ entry[1] }}"><br><br>
        <label>Example Sentence (Russian):</label><br>
        <textarea name="sentenceFirstLang">{{ entry[2] }}</textarea><br><br>
        <label>Example Sentence (Finnish):</label><br>
        <textarea name="sentenceSecondLang">{{ entry[3] }}</textarea><br><br>
        
        <div class="form-actions">
            <button type="submit">Save</button>
            <button type="button" onclick="window.location.href='/'">Back to Home</button>
            <button type="button">Delete</button>
        </div>  
    </form>
</div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
