<!DOCTYPE html>
<html>
<head>
    <title>Phrases Translation</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Phrases Translation</h1>
    <a href="/add">Add New Entry</a>
    <ul id="entries">
        {% for entry in entries %}
        <li>
            <a href="/view/{{ entry[0] }}">{{ entry[1] }}</a> 
            <!--(<a href="/edit/{{ entry[0] }}">Edit</a>) 
            <form action="/delete/{{ entry[0] }}" method="post" style="display:inline;">
                <button type="button">Delete</button>
            </form>-->
        </li>
        {% endfor %}
    </ul>

    {% if page > 1 %}
    <a href="/?page={{ 1 }}">Start</a> ..
    <a href="/?page={{ page - 1 }}">{{ page - 1 }}</a>
    {% endif %}

    <a>{{ page }}</a>
    
    {% if page < totalPages %}
    <a href="/?page={{ page + 1 }}">{{ page + 1 }}</a>
    ..<a href="/?page={{ totalPages }}">End</a>
    {% endif %}

    <!--{% for page in range(1, totalPages + 1) %}
        <a href="/?page={{ page }}">{{ page }}</a>
    {% endfor %}-->
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
