<!DOCTYPE html>
<html>
<head>
    <title>Phrase Translation Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="container">
    <h1>Phrase Translation Demo</h1>
    <header>
        <button type="button" onclick="window.location.href='/add'">Add New Entry</button>

        <form action="/" method="get">
          <input type="text" name="query" placeholder="Search..." />
        </form>
    </header>
    <table id="entries">
        <thead>
            <tr>
                <th>Word/Phrase</th>
                <th>Translation</th>
                <th>Example Sentence (Russian)</th>
                <th>Example Sentence (Finnish)</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr onclick="window.location.href='/edit/{{ entry[0] }}'">
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page > 1 %}
            <a href="/?page={{ 1 }}">Start</a> ..
            <a href="/?page={{ page - 1 }}">{{ page - 1 }}</a>
        {% endif %}
        <span>{{ page }}</span>
        {% if page < totalPages %}
            <a href="/?page={{ page + 1 }}">{{ page + 1 }}</a>
            ..<a href="/?page={{ totalPages }}">End</a>
        {% endif %}
    </div>

</div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
