<!DOCTYPE html>
<html>
<head>
    <title>Phrases Translation</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Phrases Translation</h1>
    <a href="/add">Add New Entry</a>
    <table id="entries">
        <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Example Sentence 1</th>
                <th>Example Sentence 2</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr onclick="goTo('{{ entry[0] }}')">
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page > 1 %}
    <a href="/?page={{ 1 }}">Start</a> ..
    <a href="/?page={{ page - 1 }}">{{ page - 1 }}</a>
    {% endif %}

    <a>{{ page }}</a>
    
    {% if page < totalPages %}
    <a href="/?page={{ page + 1 }}">{{ page + 1 }}</a>
    ..<a href="/?page={{ totalPages }}">End</a>
    {% endif %}

    <!--{% for page in range(1, totalPages + 1) %}
        <a href="/?page={{ page }}">{{ page }}</a>
    {% endfor %}-->
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>

<script>
    function goTo(item) {
        // Redirect to the item-specific page in Flask
        window.location.href = `/view/${item}`;
    }
</script>
</html>
